.button {
  font-size: 2rem;
  height: 4rem;
  width: 13rem;
  color: #002B5B;


  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 4px solid #8FE3CF;
  background-color: #8FE3CF;
  box-shadow: 1p 10px 5px rgba(0, 0, 0, .7);


  &:link,
  &:visited {
    color: #002B5B;
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.1);
  }
}
