.card {
  perspective: 150rem; //150 rem is normal
  -moz-perspective: 150rem;
  position: relative;
  width: 46%;

  &__side {
    position: relative;
    height: 55rem;

    text-align: center;
    margin-bottom: 5rem;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);

    transform-style: preserve-3d;
    transition: all 1s ease;

    &--front {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      background-blend-mode: color;
      background-color: rgba($color: #002b5b, $alpha: 0.9);

      &-title {
        font-size: 4rem;
        // background-color: #256D85

        color: #fff; //#8FE3CF;

        @media only screen and (max-width: 25em) {
          font-size: 3rem;
        }
      }
    }

    &--back {
      color: white;
      padding: 5rem 2rem;
      transform: rotateY(180deg);
      background-color: rgba($color: #002b5b, $alpha: 0.9);
      position: relative;
      display: flex;
      flex-direction: column;

      &-description {
        font-size: 1.6rem;
        color: #fff;
        flex: 0 0 75%;
      }

      &-button {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;

        @media only screen and (max-width: 83.5625em),
          only screen and(hover: none) {
          display: flex;
          font-size: 1.3rem;
          align-self: center;

          & > *:not(:last-child) {
            margin-right: 3rem;
          }

          & > * {
            transform: scale(1);
          }
        }

        @media only screen and (max-width: 25.625em),
          only screen and(hover: none) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & > *:not(:last-child) {
            margin-right: 0rem;
          }
        }
      }

      &-stack {
        display: flex;
        font-size: 1.5rem;
      }
    }

    &--front,
    &--back {
      position: absolute;
      border-radius: 10px;

      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
  }

  &__button {
    position: absolute;
    top: 0;
  }

  @media only screen and (max-width: 90.18em), only screen and(hover: none) {
    width: 100%;

    &__side {
      height: 55rem;
      text-align: center;

      @media only screen and (max-width: 25.625em),
        only screen and(hover: none) {
        height: 40rem;
      }

      &--front {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &-title {
          position: relative;
          color: white;
        }
      }

      &--back {
        color: white;
        padding: 5rem 2rem;
        transform: rotateY(0);
        background-color: rgba($color: #002b5b, $alpha: 0.1);
        position: relative;
        display: flex;
        flex-direction: column;

        &-stack {
          @media only screen and (max-width: 25em) {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}
